<!DOCTYPE html>
<html ng-app="trello-comments">
  <head>
    <meta charset="utf-8">
    <title>hello world</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <!-- angular should be in head element.-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-resource.min.js"></script>
    <script src="https://api.trello.com/1/client.js?key=adeb0ccecf390e026e59bfa483ed83eb"></script>
    <script src="./controller.js"></script>
  </head>
  <body>
    <div ng-controller="CommentsCtrl" class="container">
      <h2>Source code is available at <a href="https://gist.github.com/blmarket/6506197">Gist</a></h2>
      <h3>버그 때문에 그러니 링크는 click만 해주세요;</h3>
      <div ng-if="!authorized()"><a ng-click="authorize()">Log in</a></div>
      <div ng-if="authorized()" ng-init="fetchComments()">
        <input type="text" ng-model="board_id"><a ng-click="fetchComments()" class="btn btn-default">Refresh</a>
        <ul>
          <li ng-repeat="cmt in comments">
            <p>@{{cmt.memberCreator.fullName}}: {{cmt.data.text}} on <a href="https://trello.com/c/{{cmt.data.card.id}}">#{{cmt.data.card.idShort}}</a></p>
          </li>
        </ul>
      </div>
    </div>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>